@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  src: local("Gilroy"), url(../fonts/Gilroy-Medium.eot), url(../fonts/Gilroy-Medium.woff);
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  src: local("Gilroy"), url(../fonts/Gilroy-Bold.eot), url(../fonts/Gilroy-Bold.woff);
}

body {
  font-family: 'Gilroy';
  font-size: 18px;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.header {
  color: #828282;
}

.header__wrapper {
  border-bottom: 1px solid #828282;
}

.navigation__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation__item {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  min-height: 90px;
  width: auto;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.navigation__link:hover {
  color: #070707;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.about {
  background-color: #f6f6f6;
}

.about__text {
  margin: 0 auto;
  text-align: center;
  max-width: 394px;
}

.about__text:not(:last-child) {
  margin-bottom: 20px;
}

.skills__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  font-size: 14px;
  width: 100%;
  max-width: 150px;
  list-style: none;
}

.skills__image {
  margin-bottom: 16px;
}

.skills__subtitle {
  margin-bottom: 16px;
}

.skills__range {
  width: 80%;
  height: 10px;
  background-color: #828282;
  opacity: 0.5;
}

.skills__level {
  height: 100%;
  background-color: #070707;
}

.skills__level--html {
  width: 90%;
}

.skills__level--css {
  width: 80%;
}

.skills__level--git {
  width: 50%;
}

.skills__level--js {
  width: 30%;
}

.skills__level--sass {
  width: 50%;
}

.skills__level--photoshop {
  width: 30%;
}

.skills__level--figma {
  width: 45%;
}

.code {
  background-color: #f6f6f6;
}

.code__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.code__text {
  padding-top: 0;
  margin-top: 0;
  max-width: 360px;
  text-align: center;
}

.code__link {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.code__link:hover {
  background-color: yellow;
  -webkit-transition: 1s;
  transition: 1s;
}

.code__example {
  font-size: 14px;
  background-color: transparent;
}
/*# sourceMappingURL=styles.css.map */